/* app css stylesheet */
.hoverwell:hover {
  background-color: #09AFD0;
  cursor: pointer;
}

.navbar-default {
    background-color: #09AFD0;
    border-color: #E7E7E7;
}

body {
  background-color: #6D6E70;
}

.container {
  padding-top: 10px;
}

.pointable {
  cursor: pointer;
}

button {
  color: #555;
}

[hidden] {
  display: none !important;
}

.toast-success {
  background-color: #51a351;
}
.toast-error {
  background-color: #bd362f;
}
.toast-info {
  background-color: #2f96b4;
}
.toast-warning {
  background-color: #f89406;
}