<div class='panel panel-primary' *ngIf='shipment'>
    <div class='panel-heading' style='font-size:large'>
        {{pageTitle + ': ' + shipment.case}}
    </div>

    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-6'>
                <div class='row'>
                    <div class='col-md-3'>Model:</div>
                    <div class='col-md-6'>{{shipment.model}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Serial Number:</div>
                    <div class='col-md-6'>{{shipment.serialNumber}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Shipping Cost:</div>
                    <div class='col-md-6'>{{shipment.shippingCost|currency:'CAD':true}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Warranty:</div>
                    <div class='col-md-6'>{{shipment.warranty}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Type of Shipment:</div>
                    <div class='col-md-6'>{{shipment.orderType}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Carrier:</div>
                    <div class='col-md-6'>{{shipment.carrier}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Destination:</div>
                    <div class='col-md-6'>{{shipment.Destination}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Notes:</div>
                    <div class='col-md-6'>{{shipment.notes}}</div>
                </div>
            </div>

            <div class='col-md-6'>
                <img class='center-block img-responsive' 
                     [style.width.px]='200' 
                     [style.margin.px]='2' 
                     [src]='product.imageUrl'
                     [title]='product.productName'>
            </div>
        </div>
    </div>

    <div class='panel-footer'>
        <a class='btn btn-default' (click)='onBack()' style='width:80px'>
            <i class='glyphicon glyphicon-chevron-left'></i> Back
        </a>
    </div>
</div>